# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Lab5/Lab05_Instructions/Task-0/mallycode
Lab5/Lab05_Instructions/Task-0/regularcode
Lab5/Lab05_Instructions/Task-0/regularcode_o3
Lab5/Lab05_Instructions/Task-0/sleepycode
Lab5/Lab05_Instructions/Task-0/threadcode
Lab5/Lab05_Instructions/Task-3/denorms
Lab5/Lab05_Instructions/Task-3/norms
Lab6/Lab06_MemUsage/Task-0/cachetest
Lab6/Lab06_MemUsage/Task-1/sort_test
Lab6/Lab06_MemUsage/Task-2/sort_test
Lab6/Lab06_MemUsage/Task-3/restrict_test
Lab6/Lab06_MemUsage/Task-4/const_test
Lab6/Lab06_MemUsage/Task-6/pure_test
Lab7/Lab07_ILP/Task-1/unroll_test
Lab7/Lab07_ILP/Task-2/unroll_test
Lab7/Lab07_ILP/Task-3/stencil_test
Lab7/Lab07_ILP/Task-4/branch_test
Lab7/Lab07_ILP/Task-5/branch_test
Assignment2/.DS_Store
.DS_Store
