# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Lab5/Lab05_Instructions/Task-0/mallycode
Lab5/Lab05_Instructions/Task-0/regularcode
Lab5/Lab05_Instructions/Task-0/regularcode_o3
Lab5/Lab05_Instructions/Task-0/sleepycode
Lab5/Lab05_Instructions/Task-0/threadcode
Lab5/Lab05_Instructions/Task-3/denorms
Lab5/Lab05_Instructions/Task-3/norms
Lab6/Lab06_MemUsage/Task-0/cachetest
Lab6/Lab06_MemUsage/Task-1/sort_test
Lab6/Lab06_MemUsage/Task-2/sort_test
Lab6/Lab06_MemUsage/Task-3/restrict_test
Lab6/Lab06_MemUsage/Task-4/const_test
Lab6/Lab06_MemUsage/Task-6/pure_test
Lab7/Lab07_ILP/Task-1/unroll_test
Lab7/Lab07_ILP/Task-2/unroll_test
Lab7/Lab07_ILP/Task-3/stencil_test
Lab7/Lab07_ILP/Task-4/branch_test
Lab7/Lab07_ILP/Task-5/branch_test
Assignment2/.DS_Store
.DS_Store
Lab8/Lab08_Pthreads_I/._Task-1
Lab8/Lab08_Pthreads_I/._Task-2
Lab8/Lab08_Pthreads_I/._Task-3
Lab8/Lab08_Pthreads_I/._Task-8
Lab8/Lab08_Pthreads_I/Task-1/._threadtest1.c
Lab8/Lab08_Pthreads_I/Task-1/.nfs000000000129ddfc00000254
Lab8/Lab08_Pthreads_I/Task-1/test1
Lab8/Lab08_Pthreads_I/Task-2/._thread_data.c
Lab8/Lab08_Pthreads_I/Task-2/thread_data
Lab8/Lab08_Pthreads_I/Task-3/._threaded_computation.c
Lab8/Lab08_Pthreads_I/Task-3/threaded_computation
Lab8/Lab08_Pthreads_I/Task-4/.nfs000000000129ed9b00000259
Lab8/Lab08_Pthreads_I/Task-4/count_primes
Lab8/Lab08_Pthreads_I/Task-4/count_primes_par
Lab8/Lab08_Pthreads_I/Task-5/task5
Lab8/Lab08_Pthreads_I/Task-8/._mutextest.c
Lab8/Lab08_Pthreads_I/Task-8/.nfs000000000129c7680000026a
Lab8/Lab08_Pthreads_I/Task-8/.nfs000000000129c76200000268
Lab8/Lab08_Pthreads_I/Task-8/.nfs000000000129f9b90000026b
Lab8/Lab08_Pthreads_I/Task-8/.nfs000000000129f91f0000026c
Lab8/Lab08_Pthreads_I/Task-8/.nfs000000000129fc8800000269
Lab9/Lab09_Pthreads_II/._Task-1
Lab9/Lab09_Pthreads_II/._Task-2
Lab9/Lab09_Pthreads_II/._Task-3
Lab9/Lab09_Pthreads_II/._Task-4
Lab9/Lab09_Pthreads_II/._Task-5
Lab9/Lab09_Pthreads_II/._Task-6
Lab9/Lab09_Pthreads_II/._Task-7
Lab9/Lab09_Pthreads_II/Task-1/._threadtest.c
Lab9/Lab09_Pthreads_II/Task-2/._wait_test.c
Lab9/Lab09_Pthreads_II/Task-3/._join.c
Lab9/Lab09_Pthreads_II/Task-3/._Makefile
Lab9/Lab09_Pthreads_II/Task-4/._spinwait.c
Lab9/Lab09_Pthreads_II/Task-4/._synch.c
Lab9/Lab09_Pthreads_II/Task-5/._Makefile
Lab9/Lab09_Pthreads_II/Task-5/._pi.c
Lab9/Lab09_Pthreads_II/Task-5/pi.c
Lab9/Lab09_Pthreads_II/Task-6/._enumsort.c
Lab9/Lab09_Pthreads_II/Task-6/._Makefile
Lab9/Lab09_Pthreads_II/Task-7/._Makefile
Lab9/Lab09_Pthreads_II/Task-7/._matmul.c
Assignment4/galsim
Assignment4/galsim
Assignment4_OpenMP/result.gal
.gitignore
Assignment4/result.gal
